<div class="contenedor-timeline">
  <div>
    <img  class="img-2" src="assets/flor6.png" >
  </div>
  <div class="colum-timeline">
    <div class="colum-timeline-text">
      <br /><br />
      <p class="timeline1" data-aos="zoom-in" data-aos-duration="3000">
        {{ traductorService.getTexto("tituloItinerario1") }}
        <br />
      </p>
    </div>
    <br /><br />
    <div class="timeline-container">
      <div class="timeline-column-left">
        <div class="event">
          <img
            src="assets/iglesia.png"
            data-aos="zoom-in"
            data-aos-duration="3000"
            alt="Despedida"
          />
        </div>
        <div class="event">
          <img
            src="assets/arco-de-boda.png"
            data-aos="zoom-in"
            data-aos-duration="3000"
            alt="Ceremonia Religiosa"
          />
        </div>
        <div class="event">
          <img
            src="assets/lista-de-invitados.png"
            data-aos="zoom-in"
            data-aos-duration="3000"
            alt="Nuestra Recepción"
          />
        </div>

        <div class="event">
          <img
            src="assets/anillos-de-boda.png"
            data-aos="zoom-in"
            data-aos-duration="3000"
            alt="Cena"
          />
        </div>
        <div class="event">
          <img
            src="assets/camara.png"
            data-aos="zoom-in"
            data-aos-duration="3000"
            alt="Que Comience La Fiesta"
          />
        </div>
        <div class="event">
          <img
            src="assets/fuegosA.png"
            data-aos="zoom-in"
            data-aos-duration="3000"
            alt="Que Comience La Fiesta"
          />
        </div>

         <div class="event">
          <img
            src="assets/plato.png"
            data-aos="zoom-in"
            data-aos-duration="3000"
            alt="Que Comience La Fiesta"
          />
        </div>

        <div class="event">
          <img
            src="assets/camara.png"
            data-aos="zoom-in"
            data-aos-duration="3000"
            alt="Que Comience La Fiesta"
          />
        </div>

        <div class="event">
          <img
            src="assets/guitarra.png"
            data-aos="zoom-in"
            data-aos-duration="3000"
            alt="Que Comience La Fiesta"
          />
        </div>

        <div class="event">
          <img
            src="assets/bola-de-disco.png"
            data-aos="zoom-in"
            data-aos-duration="3000"
            alt="Que Comience La Fiesta"
          />
        </div>

        <div class="event">
          <img
            src="assets/carro.png"
            data-aos="zoom-in"
            data-aos-duration="3000"
            alt="Que Comience La Fiesta"
          />
        </div>


      </div>

      <div class="timeline-line">
        <div class="timeline-point"></div>
        <div class="timeline-point"></div>
        <div class="timeline-point"></div>
        <div class="timeline-point"></div>
        <div class="timeline-point"></div>
        <div class="timeline-point"></div>
        <div class="timeline-point"></div>
        <div class="timeline-point"></div>
        <div class="timeline-point"></div>
        <div class="timeline-point"></div>
        <div class="timeline-point"></div>
      </div>

      <div class="timeline-column-right" data-aos="zoom-in" data-aos-duration="3000">
        <div class="event">
          <p class="event-title">Misa</p>
          <p class="event-time">16:30 HRS.</p>
        </div>

        <div class="event">
          <p class="event-title">Apertura Local</p>
          <p class="event-time">18:30 HRS.</p>
        </div>

        <div class="event" style="cursor: pointer">
          <a class="event-title">Ingreso Invitados</a>
          <div class="event-time-row">
            <a class="event-time">19:00 HRS.</a>
          </div>
        </div>

        <div class="event" style="cursor: pointer">
          <a class="event-title">Ceremonia Civil</a>
          <div class="event-time-row">
            <a class="event-time">19:30 HRS.</a>
          </div>
        </div>

        <div class="event" style="cursor: pointer">
          <a class="event-title">Fotos de los Novios</a>
          <div class="event-time-row">
            <a class="event-time">20:00 HRS.</a>
          </div>
        </div>

        <div class="event" style="cursor: pointer">
          <a class="event-title">Inicio Protocolo</a>
          <div class="event-time-row">
            <a class="event-time">20:30 HRS.</a>
          </div>
        </div>

        <div class="event" style="cursor: pointer">
          <a class="event-title">Cena</a>
          <div class="event-time-row">
            <a class="event-time">21:00 HRS.</a>
          </div>
        </div>

        <div class="event" style="cursor: pointer">
          <a class="event-title">Fotos con los Invitados</a>
          <div class="event-time-row">
            <a class="event-time">21:30 HRS.</a>
          </div>
        </div>
        
        <div class="event" style="cursor: pointer">
          <a class="event-title">Orquesta</a>
          <div class="event-time-row">
            <a class="event-time">21:00 HRS.</a>
          </div>
        </div>

        <div class="event" style="cursor: pointer">
          <a class="event-title">Reingreso Dj</a>
          <div class="event-time-row">
            <a class="event-time">2:00 AM</a>
          </div>
        </div>

        <div class="event" style="cursor: pointer">
          <a class="event-title">Despedida</a>
          <div class="event-time-row">
            <a class="event-time">4:30 AM</a>
          </div>
        </div>
      </div>
    </div>
    <br /><br />

  </div>
</div>
