<div class="contenedor-cerem-recep" data-aos="fade-up">
  <div class="colum-cerm"  data-aos="zoom-in" data-aos-duration="3000">
    <br>
    <img src="assets/iglesia.png" class="img-icon" alt="ceremonia"> 
    <p class="titulop">Ceremonia</p>
    <p class="textosec">
      <b>Iglesia Nuestra Señora del Carmen</b><br>Piura, Perú.
    </p>
    <p class="hora">
      <b>15:30 Hrs.</b>
    </p>

    <div style="text-align: center;" >
      <a href="https://maps.app.goo.gl/wygsY4hRi3TGX5GQA" class="cerm-recep-button">
        {{traductorService.getTexto("ubicacion")}}
      </a>
    </div>

  </div>
  <br>
  <br>
    <div class="colum-cerm" data-aos="zoom-in" data-aos-duration="3000">
    <br>
    <img src="assets/brindis.png" class="img-icon" alt="ceremonia"> 
    <p class="titulop">Recepción</p>
    <p class="textosec">
      <b>Centro de eventos El Remanso</b>
    </p>
    <p class="textosec" style="margin-left: 7%; margin-right: 7%;">
      Los Ejidos, Piura, Perú.
    </p>
    <p class="hora">
      <b>18:00 Hrs.</b>
    </p>

    <div style="text-align: center;" >
      <a href="https://maps.app.goo.gl/dMemnYfG1MvGHqDRA" class="cerm-recep-button">
        {{traductorService.getTexto("ubicacion")}}
      </a>
    </div>
    <!--
      <br>
      <p class="textosec" style="margin-left: 8%; margin-right: 8%;">
        <b>NOTA</b><br>
        • Agradecemos llegar a la recepción a partir de las <b>17:30 hrs</b>.<br>
        • El parqueo tiene un costo de <b>Q25</b> durante el evento. El pago puede realizarse en <b>efectivo</b> o con <b>tarjeta</b>.
      </p>
    -->



  </div>
</div>
