<br><br>
<div class="contenedor-regalos">
  
  <div class="colum-regalos">
    <div>
      <img src="assets/flor1.png" class="img-1" data-aos="zoom-in-right">
    </div> 
    <div>
      <img  class="img-2" src="assets/flor3_.png" >
    </div>
    <img src="assets/regalo (1).png" data-aos="zoom-in" data-aos-duration="3000" alt="Regalos" class="img-icon"/>
    <p class="titulop" data-aos="zoom-in" data-aos-duration="3000">Regalos</p><br>
    <div class="info-container">
      <p class="textosec">
        Su presencia y bendiciones son nuestro mejor regalo, pero si te gustaría tener un detalle con nosotros estás son nuestras sugerencias.
      </p>
      <br>
      <p>
        <a class="btn button-regalo" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
          DETALLES
        </a>
      </p>
    </div>
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        <div class="container-reg">
          <br>
          <img src="assets/transferencia-movil.png" alt="Regalos" class="img-icon-reg"/>
          <p class="textosec">
            <b>Transferencia</b>
          </p><br>
          <p class="textosec">
            Banco BBVA
          </p>
          <p class="textosec">
            Cuenta de Ahorros
          </p>
          <p class="textosec">
            Cuenta: 0011-0245-0200393042
          </p>
          <p class="textosec">
            CCI: 01124-5000-20039-3042-83
          </p>
          <p class="textosec">
            Nombre: Gilmer Barrios González y Lucia Barrios González
          </p>
          <!--
            <br>
            <a class="btn button-regalo" href="https://www.cemaco.com/list/barriosgonzalez" target="_blank" rel="noopener noreferrer">
              CEMACO
            </a>
          -->

        </div>
      </div>
    </div>
  </div>
</div>
