<div class="contenedor-fech-img">
  <div class="colum-fech-img">
    <br>
    <!--
      <p class="titulo-momen" data-aos="zoom-in" data-aos-duration="3000">
        Nuestros momentos
      </p>
    -->
    <div class="grid">
      <div class="grid-item">
        <img src="assets/IMGJ&L(13).jpg" class="grid-item" data-aos="zoom-in" data-aos-duration="3000">
      </div>
      <div class="grid-item grid-item--width2">
        <img src="assets/IMGJ&L(2).jpg" class="grid-item" data-aos="zoom-in" data-aos-duration="3000">
      </div>
      <div class="grid-item grid-item--width2">
        <img src="assets/IMGJ&L(4).jpg" class="grid-item" data-aos="zoom-in" data-aos-duration="3000">
      </div>
      <div class="grid-item">
        <img src="assets/IMGJ&L(16).jpg" class="grid-item" data-aos="zoom-in" data-aos-duration="3000">
      </div>
    </div>
    <p class="textosec">
      Dos vidas, un solo sí. <br>El amor merece celebrarse.
    </p>
    <!--
      <img src="assets/BodaQr.png" width="40%">
    -->
  </div>
</div>
